* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-container {
  width: 100%;
  min-height: 75px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5%;

  background-color: black;
  color: white;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;
}


.name {
  color: red;
  font-size: clamp(25px, 3vw, 35px);

  white-space: nowrap;
  margin-right: 30px;
}


.links-contrainer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;

  gap: clamp(15px, 2vw, 35px);
}

.links {
  color: white;
  text-decoration: none;

  font-size: clamp(14px, 1.3vw, 18px);

  white-space: nowrap;

  transition: 0.3s;
}

.links:hover {
  color: #3b82f6;
}


.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  background-color: rgb(3, 3, 204);

  color: white;
  text-decoration: none;

  padding: 10px 18px;

  min-width: 145px;

  border-radius: 6px;

  font-size: clamp(14px, 1.3vw, 17px);

  white-space: nowrap;

  transition: 0.3s;
}

.download-btn:hover {
  transform: translateY(-2px);
  background-color: blue;
}


@media (max-width: 1024px) {

  .navbar-container {
    padding: 0 20px;
  }

  .links-contrainer {
    gap: 15px;
  }

  .download-btn {
    min-width: 125px;
    padding: 9px 12px;
  }

  .name {
    margin-right: 15px;
  }
}


@media (max-width: 768px) {

  .navbar-container {
    min-height: auto;

    flex-wrap: wrap;

    padding: 15px 20px;
  }

  .name {
    margin-right: 0;
  }

  .download-btn {
    min-width: auto;
    padding: 8px 12px;
  }

  .links-contrainer {
    order: 3;

    width: 100%;
    flex-basis: 100%;

    flex-wrap: wrap;

    gap: 15px;

    padding-top: 15px;

    justify-content: center;
  }
}


@media (max-width: 480px) {

  .navbar-container {
    padding: 12px 15px;
  }

  .name {
    font-size: 25px;
  }

  .download-btn {
    font-size: 13px;
    padding: 8px 10px;
  }

  .links-contrainer {
    gap: 12px;
  }

  .links {
    font-size: 13px;
  }
}